* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-content: center;
  border: 1px solid black;
  margin: 10px;
}

.logo {
  padding: 5px 3px;
  margin-left: 5px;
}

.nav-container {
  width: 25%;
}

.nav-ul {
  display: flex;
  justify-content: space-around;
  align-content: center;
  list-style: none;
  margin: 0;
}

.nav-separator {
  border-right: 1px solid black;
  margin: 4px 0;
}

.nav-ul > li {
  text-decoration: none;
  list-style: none;
  padding: 5px 3px;
}

.nav-ul li > a {
  text-decoration: none;
  color: black;
}

.main-container {
  margin-top: 40px;
  text-align: center;
}

.main-container > h1 {
  color: darkred;
  font-size: 35px;
  margin-bottom: 5vh;
}

#booklist {
  display: flex;
  flex-direction: column;
  border: 3px solid black;
  padding: 1vh 0;
  margin: 0 20%;
  min-width: 234px;
}

.book-div {
  display: flex;
  justify-content: space-between;
  padding: 10px 5px;
}

.title-container {
  display: flex;
  justify-content: space-between;
}

.title-container > p {
  margin-right: 10px;
}

.alternate {
  background-color: rgb(146, 143, 143);
}

.remove-button {
  padding: 5px 10px;
}

.separator {
  border: 2px solid black;
  width: 10%;
  margin: 5vh auto;
}

#form {
  text-align: center;
  margin: 40px 20% 0 20%;
}

#form > h1 {
  margin-bottom: 5vh;
}

#add-book {
  display: flex;
  flex-direction: column;
  align-content: center;
}

#add-book > div {
  margin-bottom: 15px;
  display: flex;
  justify-content: center;
}

.input {
  width: 287px;
}

#add-book > button {
  width: 40px;
  align-self: flex-end;
}

@media only screen and (min-width: 567px) {
  #add-book {
    margin: 0 30%;
  }

  .input {
    width: 100%;
  }
}
